.examples {
    text-align: center;

    background-color: #fbfbfb;

    padding-bottom: 102px;
}

.examples__wrapper {
    margin-top: 100px;

    margin-bottom: 97px;
}

.example {
    width: 370px;
    margin-right: 30px;
}

.example__img {
    margin-bottom: 32px;
}

.example__caption {
    font-size: 20px;
    font-weight: 500;

    color: #8993ad;
}

.slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 119px;
    z-index: 999;

    width: 60px;
    height: 60px;

    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, .2);

    border-radius: 50%;
    background: #ffffff;
    border: none;

    transition: 0.2s;

    cursor: pointer;
}

.slick-arrow:hover {
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, .2);

    transition: 0.2s;
}

.slick-arrow:focus {
    outline: none;
    box-shadow: 0px 0px 10px 8px #ff4e2e;

    transition: 0.2s;
}

.slick-arrow:active {
    background: #ff4e2e;

    transition: 0.2s;
}

.slick-prev {
    left: -30px;
}

.slick-next {
    right: -30px;
}

.arrow {
    width: 15px;
    height: 15px;

    border-left: 2px solid #8993ad;
    border-top: 2px solid #8993ad;
}

.arrow-prev {
    transform: rotate(-45deg) translate(3px, 3px);
}

.arrow-next {
    transform: rotate(135deg) translate(3px, 3px);
}

@media (max-width: 1024px) {
    .examples {
        padding-bottom: 101px;
    }
    .examples__wrapper {
        margin-bottom: 100px;
    }
    
    .example {
        width: 455px;
        margin-right: 35px;
    }

    .example__img {
        width: 100%;

        margin-bottom: 21px;
    }

    .example__caption {
        font-size: 25px;
    }

    .slick-dots {
        list-style: none;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 100px;
    }

    .slick-dots button {
        opacity: 0;
        font-size: 0;
    }

    .slick-dots li {
        width: 18px;
        height: 18px;

        margin: 0 15px;

        background: #ebebeb;

        border-radius: 50%;

        cursor: pointer;

    }

    .slick-dots li:hover {
        box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, .2);
        
        transition: 0.2s;
    }

    .slick-dots li:focus {
        box-shadow: 0px 0px 6px 3px #ff4e2e;

        transition: 0.2s;
    }

    .slick-dots .slick-active {
        background: #ff4e2e;
    }
}

@media (max-width: 450px) {
    .examples {
        padding-top: 12px;
        padding-bottom: 51px;
    }

    .examples .section__title {
        line-height: 35px;
    }

    .examples__wrapper {
        margin-top: 43px;
        margin-bottom: 50px;
    }

    .example {
        width: 280px;
    }

    .example__img {
        margin-bottom: 46px;
    }

    .example__caption {
        font-size: 18px;
    }

    .slick-dots {
        margin-top: 44px;
    }

    .slick-dots li {
        width: 10px;
        height: 10px;

        margin: 0 8px;
    }
}