@import './fonts.css';
@import './upper-header.css';
@import './lower-header.css';
@import './skills.css';
@import './example.css';
@import './commercial.css';
@import './footer.css';
@import './popup.css';

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

html, body{
    min-width: 320px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.main {
    background: #fff;
    position: relative;
    z-index: 997;
}

button::-moz-focus-inner {
    border: 0;
}  

.center-wrapper {

    max-width: 1170px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.secondary-btn {
    color: #ffffff;
    font-size: 18px;

    background: #FF412E;

    border: none;

    width: 270px;

    padding: 20px 20px;

    cursor: pointer;

    transition: 0.2s;
}

.secondary-btn:focus {
    outline: none;

    box-shadow: 0 0 10px 4px #fc6a5d;

    transition: 0.2s;
}

.secondary-btn:hover {
    box-shadow: 0 0 10px 2px #8b3c35;

    transition: 0.2s;
}

.secondary-btn:active {
    box-shadow: inset 0 0 4px 3px #8b3c35;

    transition: 0.2s;
}

.fixed {
    overflow: hidden;
}

.red-border {
    box-shadow: 0 0 2px 1px rgb(252, 119, 119);
}

@media (min-width: 1025px) {
    .header {
        background: url('../svg/grad-bg.svg') no-repeat;
        background-position: calc(100vw - 813px) 139px;
    }
}

@media (max-width: 1024px) {
    .center-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }

    .secondary-btn {
        width: 320px;
        padding: 24px 20px;
    }
}

@media (max-width: 1024px) and (min-width: 451px) {
    .header {
        background: url(../svg/mobile-grad-bg.svg) no-repeat;
        background-position: calc(100vw - 547px) 244px;
    }
}

@media (max-width: 750px) {
    .center-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 450px){
    .header {
        background: url('../svg/grad-bg.svg') no-repeat;
        background-size: auto 390px;
        background-position: 39% 174px;
    }

    .secondary-btn {
        width: 100%;
        padding: 18px 20px;

        font-size: 16px;
    }
}
